.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-icons {
  cursor: pointer;
}

.vote-bos {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
